.text-title {
    margin: 20px;
    text-align: center;
    font-size: 25px;
    color:var(--color-white2);
}

.list-group {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style: none;
    max-width: 400px;
}

.list-item {
    margin: 2px;
    background-color: var(--color-light-blue1);
    border: 1px solid var(--color-white1);
}

.list-item a{
    color: var(--color-white1);
    font-size: 20px;
    text-decoration: none;
}