.news-title {
    margin: 20px;
    text-align: center;
    font-size: 25px;
    color:var(--color-white2);
}

.news-link {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    color: var(---text-color);
    text-decoration: none;
}

.news-link:hover {
    background-color: var(--color-light-blue2);
    border-radius: 10%;
}


.img-wrapper {
    display: inline-block;
    height: 150px;
    width: 250px;
    padding: 10px;
    margin: 10px;
}

.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.img-wrapper p {
    height: 150px;
    width: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 16px;
    background: var(--color-grey1);
}


.flex-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.flex-container>div {
    background-color: var(--color-light-blue1);
    width: 300px;
    margin: 10px;
    text-align: center;
    border-radius: 10%;
}

.news-title-field {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.news-text-field {
    margin-top: 10px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 10px;
    text-align: justify;
}

.news-add {
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: right;
}

.news-add a {
    border-radius: 10px;
    padding: 10px;
    width: 170px;
    text-decoration: none;
    color: var(--color-white1);
    background-color: var(--color-blue1);
}