{% extends "base.html" %}
{% load static %}
{% block title %}
    Авторизация
{% endblock title %}
{% block static_files %}
    <link rel="stylesheet" href={% static 'css/accounts/login.css' %}/>
{% endblock static_files %}
{% block content %}
    <div class="auth">
        <form method="post" action={% url 'login' %}>
            {% csrf_token %}
            <div class="field">
                <p>
                    {{ form.username.label }}
                </p>
                {{ form.username }}
            </div>
            <div class="field">
                <p>
                    {{ form.password.label }}
                </p>
                {{ form.password }}
            </div>
            {% if form.errors %}
                <div class="error-text">
                    <p>
                        Неправильно введёно имя пользователя или пароль. Попробуйте войти заново.
                    </p>
                </div>
            {% endif %}
            <div class="btn-login">
                <input type="submit" value="Войти"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>
        </form>
        <div class="registration-link">
            <a href={% url 'registration' %}>Регистрация</a>
        </div>
    </div>
{% endblock content %}
