@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --text-color: #3a4549;
    --background-color: DodgerBlue;
    --color-white1:antiquewhite;
    --color-red1:rgb(255, 182, 166);
    --color-red2: rgb(180, 57, 30);
    --color-blue1: #0051ba;
    --color-white2: #d6dce8;
    --color-blue2: #2071bd;
    --color-light-blue1: #08c5ff;
    --color-light-blue2: #3eb7fd;
    --color-grey1: #8aa4bd;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--text-color);
}