.navbar-nav {
    position: static;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-blue1);
}

.left {
    float: left;
}

.right {
    float: right;
}

.navbar-item a {
    display: block;
    color: var(--color-white2);
    text-align: center;
    font-size: 16px;
    padding: 16px 18px;
    text-decoration: none;
}

.navbar-item a:hover {
    background-color: var(--color-blue2);
}